<!DOCTYPE html>

<html ng-app="app" lang="en">

<head>

  <meta charset="UTF-8">

  <title>Picasso</title>

  <script src="../node_modules/angular/angular.min.js"></script>
  <script src="../dist/angular-picasso.min.js"></script>
  <script src="./app.js"></script>

</head>

<body ng-controller="AppController as app">

<ul class="list">

  <div ng-repeat="image in app.images track by $index">

    <span class="number">#{{$index + 1}}</span>
    <img picasso ng-src="{{image}}" style="width: 200px; height: 200px;"
         loading="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS37qBCoVlZlFdxNkrgjidN9Xf4X_6z6N_loPfpkl6p6GZ-O6jX2ylVzVc"
         error="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSt8EEBiyEuxM2HcW3W_K06MjNuoVbJhSVkhABfhA_P7RGdjhLQmw"/>

  </div>

</ul>

</body>

</html>